<h2 class="TopicIndex__heading">Your Topics</h2>

<%= link "New Topic", to: chat_topic_path(@conn, :new), class: "TopicIndex__new-link" %>

<%= render "topic_list.html", conn: @conn, topics: @user_topics %>

<h2 class="TopicIndex__heading">Other Topics</h2>

<%= render "topic_list.html", conn: @conn, topics: @other_topics %>
