<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Chattr!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/77e4dc92f9.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <header class="GlobalHeader">
      <h1 class="GlobalHeader__brand">
        <a href="/" class="GlobalHeader__brand-link">Chattr</a>
      </h1>
    </header>

    <section class="NavMenu">
      <div class="NavMenu__toggle" id="hamburger-toggle">
        <i class="NavMenu__hamburger fa fa-bars"></i>
      </div>
      <nav class="NavMenu__nav">
        <ul class="NavMenu__list">
          <li class="NavMenu__list-item">
            <%= link "Chat Topics", to: chat_topic_path(@conn, :index), class: "NavMenu__link" %>
          </li>
          <li class="NavMenu__list-item">
            <%= link "New Topic", to: chat_topic_path(@conn, :new), class: "NavMenu__link" %>
          </li>
          <li class="NavMenu__list-item">
            <%= link "Log Out", to: session_path(@conn, :delete), method: "delete", class: "NavMenu__link" %>
          </li>
        </ul>
      </nav>
    </section>

    <div class="container">

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script>
      window.userToken = "<%= assigns[:user_token] %>"
    </script>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
