/* This file is for your main application css. */

@import "_scss/normalize";

.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

$color-primary: #311B92;
$color-text:    #181818;
$color-white:   #fff;
$color-gray:    #A6A6A6;
$color-alert:   #D81616;
$font-stack:      'Lato', sans-serif;
$box-shadow:    0px 2px 4px $color-gray;

body {
  font-family: $font-stack;
  font-size: 18px;
  color: $color-text;
}

.slide-up {
  opacity: 0;
  transform: translateY(1.5rem);
  transition-property: opacity, transform;
  transition-duration: 0.5s, 1s;

  &--visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.alert {
  text-align: center;
  padding: 0.5em;  
}

.alert-info {
  color: $color-primary;
  border: 1px solid $color-primary;
}

.alert-danger {
  color: $color-alert;
  border: 1px solid $color-alert;
}

.GlobalHeader {

  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.75em;

  &__brand {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
  }

  &__brand-link {
    text-decoration: none;
    color: $color-white;
  }
}

@mixin roundButton() {
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  text-decoration: none;
  width: 70%;
  margin: 0 auto;
  display: block;
  border-radius: 100px;
  font-weight: 300;
  text-align: center;  
}

@mixin link() {
  color: $color-primary;
}

.LandingCallout {
  text-align: center;
  padding-top: 2em;

  &__welcome-message {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__lead {
    margin-bottom: 2em;
  }

  &__signup-link {
    @include roundButton();    

    margin-bottom: 1em;
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }

  &__login-link {
    @include roundButton();

    color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.centered-heading {
  text-align: center;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.Account {

  &__heading {
    @extend .centered-heading;
  }

  &__login-callout, &__signup-callout {
    text-align: center;
    margin-top: 2em;
  }

  &__login-link, &__signup-link {
    @include link();
  }
}

.Form {
  padding: 0 1em;

  &__form-group {
    margin-bottom: 0.75em;
  }  

  &__label {
    display: block;
    margin-bottom: 0.25em;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.4em;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $color-gray;
  }

  &__submit {
    @include roundButton();

    width: 100%;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $color-white;
    margin-top: 1em;
  }

  &__submit:hover {
    cursor: pointer;
  }

  &__global-alert {
    border: 1px solid $color-alert;
    color: $color-alert;
    padding: 0 1em;
    margin-bottom: 0.5em;
    border-radius: 2px;
  }

  &__alert {
    border: 1px solid $color-alert;
    color: $color-alert;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    border-radius: 2px;    
  }
}

.TopicIndex {

  &__heading {
    @extend .centered-heading;
    
    margin-top: 1em;
    margin-bottom: 1em;    
  }

  &__new-link {
    @include roundButton();

    background-color: $color-primary;
    color: $color-white;
    width: 100%;
  }
}

.TopicList {

  list-style: none;
  padding: 0;

  &__item {
    border: 1px solid $color-gray;
    border-radius: 2px;
    margin-bottom: 1em;
    text-align: center;
    box-shadow: $box-shadow;
  }

  &__topic-link {
    text-decoration: none;
    padding: 1em;    
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: $color-text;
  }

  &__owner {
    display: block;
    @include link();
    margin-top: 0.25em;
  }

  &__username {
    font-weight: 700;
  }
}

.ChatFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1em;
  background-color: $color-primary;
  width: 100%;
  box-sizing: border-box;
}

.ChatForm {

  display: flex;
  justify-content: space-between;

  &__input {
    padding: 0.5em;
    border: 1px;
    border-radius: 4px;
    width: 65%;
  }

  &__send-button {
    width: 25%;
    color: $color-primary;
    background-color: $color-white;
    border: 1px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.MessageList {
  margin-bottom: 100px;
  list-style: none;
  padding: 0 1em;
  font-weight: 300;

  &__item {
    box-shadow: $box-shadow;
    padding: 0.75em;
    margin-bottom: 0.75em;

    border: 1px solid $color-gray;
    border-radius: 1rem 1rem 1rem 0;
  }

  &__item-body {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  &__item-meta {
    font-size: 0.9rem;
    margin: 0;
    color: $color-primary;
  }

  &__item:nth-child(2n) {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 1rem 1rem 0 1rem;

    & .MessageList__item-meta {
      color: $color-white;
    }
  }
}

.TopicMeta {

  width: 100%;
  border: 1px solid $color-gray;
  box-shadow: $box-shadow;
  position: relative;
  margin-top: 0.75em;
  border-radius: 2px;
  padding: 1em;
  text-align: center;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: $color-white;
    z-index: 100;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25em;    
    font-weight: 300;
  }

  &__owner {
    margin: 0;
    font-weight: 300;
    color: $color-primary;
  }

  &__username {
    font-weight: 400;
  }
}
