.TopicMeta {
  
  margin-top: 0.75em;
  min-height: 96px;  

  &__header {
    width: 100%;
    border: 1px solid $color-gray;
    box-shadow: $box-shadow;
    position: relative;
    border-radius: 2px;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;

    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 0;
      background-color: $color-white;
      z-index: 100;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25em;
    font-weight: 300;
  }

  &__owner {
    margin: 0;
    font-weight: 300;
    color: $color-primary;
  }

  &__username {
    font-weight: 400;
  }

  &__links-container {
    margin-top: 0.5em;
  }

  &__link {
    color: $color-primary;
  }
}
