$color-primary: #311B92;
$color-text:    #181818;
$color-white:   #fff;
$color-gray:    #A6A6A6;
$color-alert:   #D81616;
$font-stack:      'Lato', sans-serif;
$box-shadow:    0px 2px 4px $color-gray;
